<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <a href="/about">go to about</a>
  <h1><%= head %></h1>
  <p><%= body %></p>
  <div>
    <h3>Set your language:</h3>
    <form action="/languages" method="post">
      <select name="language_code">
        <option value="en">English</option>
        <option value="fr">Français</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
  </div>
  
</body>
</html>