<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="email" >Email: </label>
            <input type="email" name="email" id="email" />
            <label for="password" >Password: </label>
            <input type="password" name="password" id="password"/>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
